<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            RSA
        </mat-panel-title>
        <mat-panel-description>
            Beschreibung der theoretischen Grundlagen und Algorithmen
        </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Theoretische Grundlagen
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="card-container">
            <mat-card class="spaced-card">
                <mat-card-header>
                    <mat-card-title>TODO</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    TODO
                </mat-card-content>
            </mat-card>

            <mat-card class="spaced-card">
                <mat-card-header>
                    <mat-card-title>TODO</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    TODO
                </mat-card-content>
            </mat-card>
        </div>

        <div class="card-container">
            <mat-card class="spaced-card">
                <mat-card-header>
                    <mat-card-title>TODO</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    TODO
                </mat-card-content>
            </mat-card>

            <mat-card class="spaced-card">
                <mat-card-header>
                    <mat-card-title>TODO</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    TODO
                </mat-card-content>
            </mat-card>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Algorithmen
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="card-container">
            <mat-card class="spaced-card">
                <mat-card-header>
                    <mat-card-title>Schlüsselerzeugung</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    TODO
                </mat-card-content>
            </mat-card>

            <mat-card class="spaced-card">
                <mat-card-header>
                    <mat-card-title>Verschlüsselung und Signatur</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    TODO
                </mat-card-content>
            </mat-card>
        </div>
    </mat-expansion-panel>
</mat-expansion-panel>
