/* navbar.component.scss */
$header-font-size: 1.8vw;
$margin-size: 1vw;
$button-width: 94%;

.sidenav-header {
    font-size: $header-font-size;
    font-weight: bold;
    margin-bottom: $margin-size;
    margin-top: $margin-size;
    text-align: center;
}

.sidenav-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;

    .sidenav-button, .turbo-toggle-button {
        width: $button-width;
        margin: 0 auto;
        cursor: pointer;
        font-size: calc(8px + 0.5vw); // Die Schriftgröße beträgt mind 8px und passt sich dann an die Bildschirmgröße an
        padding: 1vh 2vw;
        border-radius: 4px;
    }
}

.sidenav-footer {
    margin-top: auto;
    width: 100%;

    .navbar-image {
        width: 100%;
        object-fit: contain;
    }
}
