$transition-effect: all 0.3s ease;
$margin-size: 1%;
$flex-1: 1;
$hover-background-color: #f5f5f5;
$box-shadow-hover: 0 4px 8px 0 rgba(0,0,0,0.2);

@mixin flex-display {
    display: flex;
}

@mixin justify-content($value) {
    justify-content: $value;
}


html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-align-right {
    text-align: right;
}

input.text-align-right::-webkit-outer-spin-button,
input.text-align-right::-webkit-inner-spin-button {
    display: none;
}

input.text-align-right {
    -moz-appearance: textfield;
}

.width-100 {
    width: 100%;
}

.accordion-container {
    @include flex-display;
    flex-direction: column;
    width: 100%;
}

.element-below-accordion-container {
    @include flex-display;
    justify-content: right;
    width: auto;
    padding: 2vh 0;
    height: auto;
}

.below-accordion {
    @include flex-display;
    flex-direction: row-reverse;
    column-gap: 1vw;
    align-items: center;
}

.form-field-no-hint .mat-mdc-form-field-subscript-wrapper {
    margin-bottom: -1.25em;
}

.config-form-field {
    width: 23%;
    padding: 1%;
}

.card-container {
    @include flex-display;
    @include justify-content(space-between);

    .spaced-card {
        margin: $margin-size;
        flex: $flex-1;
        transition: $transition-effect; // smooth transition effect

        word-wrap: break-word; // Umbrüche an beliebigen Stellen des Texts erlauben
        word-break: break-all; // Zahlen und lange Wörter mitten im Text umbrechen
        overflow-wrap: break-word; // Zusätzliche Absicherung für Umbrüche

        &:hover {
            background-color: $hover-background-color; // change background color on hover
            box-shadow: $box-shadow-hover; // add box shadow on hover
        }
    }
}

.chip-list-container {
    @include flex-display;
    align-items: center;
}

.chip-list-label {
    margin-right: 10px;
    font-weight: bold;
}

p {
    text-align: justify;
}

.highlightRow {
    background-color: #b9bee2 !important;
}
