/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-align-right {
    text-align: right;
}

input.text-align-right::-webkit-outer-spin-button,
input.text-align-right::-webkit-inner-spin-button {
    display: none;
}

input.text-align-right {
    -moz-appearance: textfield;
}

.width-100 {
    width: 100%;
}

.accordion-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.element-below-accordion-container {
    display: flex;
    justify-content: right;
    width: auto;
    padding: 2vh 0;
    height: auto;
}

.below-accordion {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1vw;
    align-items: center;
}

.form-field-no-hint .mat-mdc-form-field-subscript-wrapper {
    margin-bottom: -1.25em;
}

.config-form-field {
    width: 23%;
    padding: 1%;
}

.card-container {
    display: flex;
    justify-content: space-between;
}
.spaced-card {
    margin: 1%;
    flex: 1;
}
