<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Allgemeine Konfiguration
        </mat-panel-title>
        <mat-panel-description>
            Die Basis-Eigenschaften der Simulation
        </mat-panel-description>
    </mat-expansion-panel-header>

    <basic-configuration-fields [config]="config"/>

    <mat-action-row>
        <button mat-flat-button *ngFor="let client of clients" color="primary" (click)="generateKeys(client)">
            Schlüsselpaar für {{ client.name }} erzeugen
        </button>
    </mat-action-row>
</mat-expansion-panel>
