#add-curve-display{
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.coordinate-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.plot-container {
  width: 100%;
  height: auto;
}
