<mat-accordion class="accordion-container" multi="true">

    <mv-basics-panel/>

    <mv-configuration-panel [config]="this.config" [clients]="clients"/>

    <mv-client-panel *ngFor="let client of clients"
                     [client]="client"
                     [possibleTargetClients]="getPossibleTargetClients(client)"
                     [config]="this.config"
                     (deleteSelf)="deleteClient(client)"/>
</mat-accordion>

<div class="element-below-accordion-container">
    <button mat-fab color="primary" (click)="openNameInputDialog()">
        <mat-icon>person_add</mat-icon>
    </button>
</div>
