<mat-accordion class="accordion-container" multi="true">

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Grundlagen
            </mat-panel-title>
            <mat-panel-description>
                Beschreibung der theoretischen Grundlagen und Algorithmen
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="card-container">

            <mat-card class="spaced-card">
                <mat-card-header>
                    <mat-card-title>Elliptische Kurven</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                    amet.
                </mat-card-content>
            </mat-card>

            <mat-card class="spaced-card">
                <mat-card-header>
                    <mat-card-title>Elliptische Kurven</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                    amet.
                </mat-card-content>
            </mat-card>
        </div>

        <div class="card-container">

            <mat-card class="spaced-card">
                <mat-card-header>
                    <mat-card-title>Elliptische Kurven</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                    amet.
                </mat-card-content>
            </mat-card>

            <mat-card class="spaced-card">
                <mat-card-header>
                    <mat-card-title>Elliptische Kurven</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                    amet.
                </mat-card-content>
            </mat-card>

            <mat-card class="spaced-card">
                <mat-card-header>
                    <mat-card-title>Elliptische Kurven</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                    amet.
                </mat-card-content>
            </mat-card>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Allgemeine Konfiguration
            </mat-panel-title>
            <mat-panel-description>
                Die Basis-Eigenschaften der Simulation
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline" class="config-form-field">
            <mat-label>Modulbreite</mat-label>
            <input class="text-align-right" matInput type="number" [(ngModel)]="modulusWidth">
            <span matTextSuffix>-Bit</span>
            <mat-hint>Bei {{ numberSystem }} mindestens {{ calcMinimumBitsize() }} Bit</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="config-form-field">
            <mat-label>Zahlensystem</mat-label>
            <input class="text-align-right" matInput type="number" [(ngModel)]="numberSystem">
            <mat-hint>Bei {{ modulusWidth }}-Bit maximal {{ calcMaxNumbersystem() }}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="config-form-field">
            <mat-label>Miller-Rabin Iterationen</mat-label>
            <input class="text-align-right" matInput type="number" [(ngModel)]="millerRabinIterations">
            <span matTextSuffix>-Runden</span>
        </mat-form-field>

        <mat-form-field appearance="outline" class="config-form-field">
            <mat-label>Koeffizient a</mat-label>
            <input class="text-align-right" matInput type="number" [(ngModel)]="coefficientA">
            <mat-hint>wird '-a^2'</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="config-form-field">
            <mat-label>Seed</mat-label>
            <input class="text-align-right" matInput type="number" [(ngModel)]="random_seed">
        </mat-form-field>

        <mat-action-row class="action-row-content-left">
            <button mat-flat-button *ngFor="let client of clients" color="primary" (click)="generateKeys(client.name)">
                Schlüsselpaar für {{ client.name }} erzeugen
            </button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel *ngFor="let client of clients">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ client.name }}
            </mat-panel-title>
            <mat-panel-description>
                Die Ansicht von {{ client.name }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Schlüsselpaar
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="card-container">

                <mat-card class="spaced-card">
                    <mat-card-header>
                        <mat-card-title>Domainparameter</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        Kurve: y² = x³ + <strong>({{ client.keyPair.public_key.curve.a }})</strong> x (mod
                        <strong>{{ client.keyPair.public_key.curve.prime }}</strong>)
                        <br>
                        Generator: <strong>G({{ client.keyPair.public_key.curve.generator.x }}
                        , {{ client.keyPair.public_key.curve.generator.y }})</strong>
                        <br>
                        Ordnung der von G erzeugten Untergruppe:
                        <strong>{{ client.keyPair.public_key.curve.order_of_subgroup }}</strong>
                    </mat-card-content>
                </mat-card>

                <mat-card class="spaced-card">
                    <mat-card-header>
                        <mat-card-title>Öffentliche Komponenten</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        Gewähltes Gruppenelement: <strong>Y({{ client.keyPair.public_key.y.x }}
                        , {{ client.keyPair.public_key.y.y }}
                        )</strong>
                    </mat-card-content>
                </mat-card>

                <mat-card style="flex: 1; margin: 1%">
                    <mat-card-header>
                        <mat-card-title>Private Komponenten</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        Geheimwert x = <strong>{{ client.keyPair.private_key.x }}</strong>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-expansion-panel>
        <br>
        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Klartext</mat-label>
            <textarea matInput placeholder="Das ist ein wunderbarer Tag..." [(ngModel)]="client.plaintext"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Geheimtext - Zeichenkette</mat-label>
            <textarea matInput placeholder="Qnf vfg rva jhaqreonere Gnt..."
                      [(ngModel)]="client.ciphertext.encrypted_message"></textarea>
        </mat-form-field>
        <br>

        <div style="display:flex; justify-content: space-between">
            <mat-card style="flex: 1; margin-right: 1%;">
                <mat-card-header>
                    <mat-card-title>Signatur</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    r = <strong>{{ client.signature.r }}</strong>
                    <br>
                    s = <strong>{{ client.signature.s }}</strong>
                    <p>Die soeben entschlüsselte Nachricht ist <strong>{{ client.signature_valid }}</strong></p>
                </mat-card-content>
            </mat-card>

            <mat-expansion-panel style="flex: 1; margin-left: 1%;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Geheimtext - Punkte
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field appearance="outline" class="width-100">
                    <textarea matInput [disabled]="true">{{ JSON.stringify(client.ciphertext.points) }}</textarea>
                </mat-form-field>
            </mat-expansion-panel>
        </div>

        <mat-action-row>
            <button mat-flat-button color="primary" (click)="clearFields(client.name)">Löschen</button>
            <button mat-flat-button color="primary"
                    [disabled]="client.plaintext.length<1 || partnerHasNoKeyPairSet(client.name)"
                    (click)="encrypt(client.name)">Verschlüsseln
            </button>
            <button mat-flat-button color="primary" [disabled]="client.ciphertext.encrypted_message.length<1"
                    (click)="decrypt(client.name)">Entschlüsseln
            </button>
            <button mat-flat-button color="primary" (click)="send(client.name)">Senden</button>
        </mat-action-row>

    </mat-expansion-panel>
</mat-accordion>
