<mat-accordion class="accordion-container" multi="true">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Allgemeine Konfiguration
            </mat-panel-title>
            <mat-panel-description>
                Die Basis-Eigenschaften der Simulation
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline" class="config-form-field">
            <mat-label>Modulbreite</mat-label>
            <input class="text-align-right" matInput type="number" [(ngModel)]="modulusWidth">
            <span matTextSuffix>-Bit</span>
            <mat-hint>Bei {{numberSystem}} mindestens {{calcMinimumBitsize()}} Bit</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="config-form-field">
            <mat-label>Zahlensystem</mat-label>
            <input class="text-align-right" matInput type="number" [(ngModel)]="numberSystem">
            <mat-hint>Bei {{modulusWidth}}-Bit maximal {{calcMaxNumbersystem()}}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="config-form-field">
            <mat-label>Miller-Rabin Iterationen</mat-label>
            <input class="text-align-right" matInput type="number" [(ngModel)]="millerRabinIterations">
            <span matTextSuffix>-Iterationen</span>
        </mat-form-field>

        <mat-form-field appearance="outline" class="config-form-field">
            <mat-label>Koeffizient a</mat-label>
            <input class="text-align-right" matInput type="number" [(ngModel)]="coefficientA">
            <mat-hint>wird '-a^2'</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="config-form-field">
            <mat-label>Seed</mat-label>
            <input class="text-align-right" matInput type="number" [(ngModel)]="random_seed">
        </mat-form-field>

        <mat-action-row class="action-row-content-left">
            <button mat-flat-button *ngFor="let client of clients" color="primary" (click)="generateKeys(client.name)">
                Schlüsselpaar für {{client.name}} erzeugen
            </button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel *ngFor="let client of clients">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{client.name}}
            </mat-panel-title>
            <mat-panel-description>
                Die Ansicht von {{client.name}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        Public Key: {{JSON.stringify(client.keyPair.public_key)}}
        <br>
        <br>
        Private Key: {{JSON.stringify(client.keyPair.private_key)}}
        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Klartext</mat-label>
            <textarea matInput placeholder="Das ist ein wunderbarer Tag..." [(ngModel)]="client.plaintext"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Geheimtext - Zeichenkette</mat-label>
            <textarea matInput placeholder="Qnf vfg rva jhaqreonere Gnt..." [(ngModel)]="client.ciphertext.encrypted_message"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Geheimtext - Punkte</mat-label>
            <textarea matInput [disabled]="true">{{JSON.stringify(client.ciphertext.points)}}</textarea>
        </mat-form-field>
        Signature: {{JSON.stringify(client.signature)}}
        <br>
        Die soeben entschlüsselte Nachricht ist {{client.signature_valid}}

        <mat-action-row>
            <button mat-flat-button color="primary" (click)="clearFields(client.name)">Löschen</button>
            <button mat-flat-button color="primary" [disabled]="client.plaintext.length<1" (click)="encrypt(client.name)">Verschlüsseln</button>
            <button mat-flat-button color="primary" [disabled]="client.ciphertext.encrypted_message.length<1" (click)="decrypt(client.name)">Entschlüsseln</button>
            <button mat-flat-button color="primary" (click)="send(client.name)">Senden</button>
        </mat-action-row>

    </mat-expansion-panel>
</mat-accordion>
