<mat-accordion class="accordion-container" multi="true">
    <mat-expansion-panel [expanded]="true"> <!-- Initial geöffnet -->
        <mat-expansion-panel-header>
            <mat-panel-title>
                Allgemeine Konfiguration
            </mat-panel-title>
            <mat-panel-description>
                Die Basis-Eigenschaften der Simulation
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline" class="config-form-field">
            <mat-label>Modulbreite</mat-label>
            <input class="text-align-right" matInput type="number" [(ngModel)]="modulusWidth">
            <span matTextSuffix>-Bit</span>
        </mat-form-field>

        <mat-form-field appearance="outline" class="config-form-field">
            <mat-label>Miller-Rabin Iterationen</mat-label>
            <input class="text-align-right" matInput type="number" [(ngModel)]="millerRabinIterations">
            <span matTextSuffix>-Iterationen</span>
        </mat-form-field>

        <mat-form-field appearance="outline" class="config-form-field">
            <mat-label>Zufallsseed</mat-label>
            <input class="text-align-right" matInput type="number" [(ngModel)]="randomSeed">
        </mat-form-field>

        <mat-action-row>
            <button mat-flat-button color="primary" (click)="generateKeys()">
                Schlüsselpaar erzeugen
            </button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Schlüsselpaar
            </mat-panel-title>
            <mat-panel-description>
                Die öffentlichen und privaten Schlüsselkomponenten
            </mat-panel-description>
        </mat-expansion-panel-header>


        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Modul</mat-label>
            <textarea matInput placeholder="Wird nach dem Berechnen automatisch angezeigt"
                      [(ngModel)]="keyPair.modulus"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Öffentlicher Exponent</mat-label>
            <textarea matInput placeholder="Wird nach dem Berechnen automatisch angezeigt"
                      [(ngModel)]="keyPair.e"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Privater Exponent</mat-label>
            <textarea matInput placeholder="Wird nach dem Berechnen automatisch angezeigt"
                      [(ngModel)]="keyPair.d"></textarea>
        </mat-form-field>

        <mat-action-row>
            <button mat-flat-button color="primary" (click)="clearKeyPair()">
                Schlüsselpaar löschen
            </button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Parameter
            </mat-panel-title>
            <mat-panel-description>
                Berechnungen einer Multiplikation mit den verschlüsselten Werten von A und B
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Parameter A</mat-label>
            <textarea matInput placeholder="Parameter A"
                      [(ngModel)]="parameterA"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Parameter B</mat-label>
            <textarea matInput placeholder="Parameter B"
                      [(ngModel)]="parameterB"></textarea>
        </mat-form-field>

        <mat-action-row>
            <button mat-raised-button color="primary" (click)="calculate()">Berechnen</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Ergebnis
            </mat-panel-title>
            <mat-panel-description>
                Das Ergebnis der Multiplikation mit den verschlüsselten Werten und dem Klartext-Ergebnis
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Parameter A verschlüsselt</mat-label>
            <textarea matInput placeholder="Parameter A verschlüsselt"
                      [(ngModel)]="parameterAEncrypted"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Parameter B verschlüsselt</mat-label>
            <textarea matInput placeholder="Parameter B verschlüsselt"
                      [(ngModel)]="parameterBEncrypted"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Ergebnis verschlüsselt</mat-label>
            <textarea matInput placeholder="Ergebnis verschlüsselt"
                      [(ngModel)]="resultEncrypted"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Ergebnis Klartext</mat-label>
            <textarea matInput placeholder="Ergebnis Klartext"
                      [(ngModel)]="resultDecrypted"></textarea>
        </mat-form-field>

        <mat-action-row>
            <button mat-raised-button color="primary" (click)="clearResponse()">Löschen</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
