<mat-accordion multi>
    <div class="encryption-container">
        <mat-expansion-panel expanded [hideToggle]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Wählen Sie eine Art der Verschlüsselung aus
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="button-container">
                <button mat-raised-button routerLink="/menezesVanstone" color="primary">Menezes-Vanstone</button>
                <button mat-raised-button routerLink="/rsa" color="primary">RSA</button>
            </div>
        </mat-expansion-panel>
    </div>
</mat-accordion>
