.encryption-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.button-container {
    padding: 0.30vw 0.60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50vw;
    height: auto;
}

.button-container button {
    flex: 0 0 48%; // Dies stellt sicher, dass zwei Schaltflächen pro Zeile angezeigt werden
    margin: 0.5vw 0;
}
