// Style for the app component

.big-server-not-reachable-text {
  font-size: 2.5vh;
  font-weight: bold;
  text-align: center;
  margin-top: 40vh;
}

.main-content {
  height: 96vh;
  width: 77vw;
  background-color: #eee;
  padding: 2vh 2vw;
}

.sidenav {
  width: 20vw;
}
