<mat-sidenav-container *ngIf="isServerReachable" class="global-container">
    <mat-sidenav class="sidenav" mode="side" opened>
        <div class="inner-sidenav-container">
            <button mat-stroked-button
                    *ngIf="!isTurboMode"
                    (click)="toggleTurboMode()"
                    class="turbo-toggle-button">
                Normaler Modus aktiv
            </button>
            <button mat-flat-button
                    *ngIf="isTurboMode"
                    (click)="toggleTurboMode()"
                    class="turbo-toggle-button"
                    color="warn">
                Turbo Modus aktiv
            </button>
            <div class="sidenav-header">

                <div>RSA Implementation</div>
            </div>

            <button mat-stroked-button routerLink="/startseite">Startseite</button>
            <mat-divider></mat-divider>
            <div class="sidenav-client-button-container">
                <button *ngFor="let client of getClients()" color="primary" mat-raised-button
                        routerLink="/client/{{client.name}}">{{client.name}}</button>
            </div>
            <mat-divider></mat-divider>
            <button mat-stroked-button routerLink="/exponentiation">Exponentiation</button>
            <mat-divider></mat-divider>
            <button mat-stroked-button routerLink="/extendedGcd">Extended GCD</button>
            <mat-divider></mat-divider>
            <button mat-stroked-button routerLink="/shanks">Shanks</button>
            <mat-divider></mat-divider>
            <button mat-stroked-button routerLink="/modularInverse">Modulo Inverse</button>

            <div class="sidenav-footer">
                <mat-divider></mat-divider>
                Tristan Hörmann, Lucas Menke, Simon Ganteföhr
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="!isServerReachable" class="big-server-not-reachable-text">
    Der Server ist derzeit nicht erreichbar.
    <br><br>
    Bitte starte den Server und lade die Seite neu.
</div>
