<mat-sidenav-container *ngIf="isServerReachable" class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <navbar></navbar>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="!isServerReachable" class="big-server-not-reachable-text">
    Der Server ist derzeit nicht erreichbar.
    <br><br>
    Bitte starte den Server und lade die Seite neu.
</div>
