<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Allgemeine Konfiguration
        </mat-panel-title>
        <mat-panel-description>
            Die Basis-Eigenschaften der Simulation
        </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="outline" class="config-form-field">
        <mat-label>Modulbreite</mat-label>
        <input class="text-align-right" matInput type="number" [(ngModel)]="config.modulusWidth">
        <span matTextSuffix>-Bit</span>
        <mat-hint>Bei {{ config.numberSystem }} mindestens {{ calcMinimumBitsize() }} Bit</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="config-form-field">
        <mat-label>Zahlensystem</mat-label>
        <input class="text-align-right" matInput type="number" [(ngModel)]="config.numberSystem">
        <mat-hint>Bei {{ config.modulusWidth }}-Bit maximal {{ calcMaxNumbersystem() }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="config-form-field">
        <mat-label>Miller-Rabin Iterationen</mat-label>
        <input class="text-align-right" matInput type="number" [(ngModel)]="config.millerRabinRounds">
        <span matTextSuffix>-Runden</span>
    </mat-form-field>

    <mat-form-field appearance="outline" class="config-form-field">
        <mat-label>Koeffizient a</mat-label>
        <input class="text-align-right" matInput type="number" [(ngModel)]="config.coefA">
        <mat-hint>wird '-a^2'</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="config-form-field">
        <mat-label>Seed</mat-label>
        <input class="text-align-right" matInput type="number" [(ngModel)]="config.randomSeed">
    </mat-form-field>

    <mat-action-row>
        <button mat-flat-button *ngFor="let client of clients" color="primary" (click)="generateKeys(client.name)">
            Schlüsselpaar für {{ client.name }} erzeugen
        </button>
    </mat-action-row>
</mat-expansion-panel>
