<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Allgemeine Konfiguration
        </mat-panel-title>
        <mat-panel-description>
            Die Basis-Eigenschaften der Simulation
        </mat-panel-description>
    </mat-expansion-panel-header>

    <basic-configuration-fields [config]="config"/>

    <mat-form-field appearance="outline" class="config-form-field">
        <mat-label>Koeffizient n</mat-label>
        <input class="text-align-right" matInput type="number" [(ngModel)]="config.coefA">
        <mat-hint>wird '-n^2'</mat-hint>
    </mat-form-field>

    <mat-action-row>
        <button mat-flat-button *ngFor="let client of clients" color="primary" (click)="generateKeys(client.name)">
            Schlüsselpaar für {{ client.name }} erzeugen
        </button>
    </mat-action-row>
</mat-expansion-panel>
