<mat-accordion class="accordion-container" multi="true">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Maske 1 - Allgemeine Konfiguration
            </mat-panel-title>
            <mat-panel-description>
                Die Basis-Eigenschaften der Simulation
            </mat-panel-description>
        </mat-expansion-panel-header>

        <basic-configuration-fields [config]="config"/>

        <mat-form-field appearance="outline" class="config-form-field">
            <mat-label>Koeffizient n</mat-label>
            <input class="text-align-right" matInput type="number" [(ngModel)]="config.coefA">
            <mat-hint>wird '-n^2'</mat-hint>
        </mat-form-field>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Schlüsselpaar
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="card-container">

                <mat-card class="spaced-card">
                    <mat-card-header>
                        <mat-card-title>Domainparameter</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        Kurve: y² = x³ + <strong>({{ client.keyPair | emptyIfUndefined:'public_key.curve.a' }})</strong>
                        x
                        (mod
                        <strong>{{ client.keyPair | emptyIfUndefined:'public_key.curve.prime' }}</strong>)
                        <br>
                        Generator: <strong>G({{ client.keyPair | emptyIfUndefined:'public_key.curve.generator.x' }}
                        , {{ client.keyPair | emptyIfUndefined:'public_key.curve.generator.y' }})</strong>
                        <br>
                        Ordnung der von G erzeugten Untergruppe:
                        <strong>{{ client.keyPair | emptyIfUndefined:'public_key.curve.order_of_subgroup' }}</strong>
                    </mat-card-content>
                </mat-card>

                <mat-card class="spaced-card">
                    <mat-card-header>
                        <mat-card-title>Öffentliche Komponenten</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        Gewähltes Gruppenelement: <strong>Y({{ client.keyPair | emptyIfUndefined:'public_key.y.x' }}
                        , {{ client.keyPair | emptyIfUndefined:'public_key.y.y' }}
                        )</strong>
                    </mat-card-content>
                </mat-card>

                <mat-card class="spaced-card">
                    <mat-card-header>
                        <mat-card-title>Private Komponenten</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        Geheimwert x = <strong>{{ client.keyPair | emptyIfUndefined:'private_key.x' }}</strong>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-expansion-panel>

        <mat-action-row>
            <button mat-flat-button color="primary" (click)="generateKeys()">
                Schlüsselpaar erzeugen
            </button>
        </mat-action-row>
    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Maske 2 - Klartexteingabe
            </mat-panel-title>
            <mat-panel-description>
                Der zu verschlüsselnde Klartext
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Klartext</mat-label>
            <textarea matInput placeholder="Das ist ein wunderbarer Tag..." [(ngModel)]="client.plaintext"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Verschlüsselter Text</mat-label>
            <textarea matInput [disabled]="true">{{ client.ciphertext.encrypted_message }}</textarea>
        </mat-form-field>
        <br>
        <div class="card-container" style="display:flex; justify-content: space-between">
            <mat-card class="spaced-card" style="flex: 0 0 50%; margin-right: 1%;">
                <mat-card-header>
                    <mat-card-title>Signatur</mat-card-title>
                </mat-card-header>
                <mat-card-content style="overflow-wrap: anywhere; margin-top: 1%">
                    <mat-form-field appearance="outline" style="width: 99%; margin-right: 1%;">
                        <mat-label>r</mat-label>
                        <textarea matInput [(ngModel)]="client.signature.r" rows="1"></textarea>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline" style="width: 99%; margin-right: 1%;">
                        <mat-label>s</mat-label>
                        <textarea matInput [(ngModel)]="client.signature.s" rows="1"></textarea>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline" style="width: 99%; margin-right: 1%;">
                        <mat-label>Stringdarstellung</mat-label>
                        <textarea matInput [(ngModel)]="client.signature.string_representation" rows="1"></textarea>
                    </mat-form-field>
                    <p>Die soeben entschlüsselte Nachricht ist <strong>{{ client.signature_valid }}</strong></p>
                </mat-card-content>
            </mat-card>

            <mat-expansion-panel class="spaced-card" style="flex: 1; margin-left: 1%;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Geheimtext - Punkte
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field appearance="outline" class="width-100">
                    <textarea matInput [disabled]="true">{{ JSON.stringify(client.ciphertext.points) }}</textarea>
                </mat-form-field>
            </mat-expansion-panel>
        </div>

        <mat-action-row>
            <button mat-flat-button color="primary" (click)="encrypt()">
                Verschlüsseln
            </button>
        </mat-action-row>
    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Maske 3 - Geheimtextverarbeitung
            </mat-panel-title>
            <mat-panel-description>
                Der zu entschlüsselnde Geheimtext
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Geheimtext - Zeichenkette</mat-label>
            <textarea matInput placeholder="Qnf vfg rva jhaqreonere Gnt..."
                      [(ngModel)]="client.ciphertext.encrypted_message"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Entschlüsselter Text</mat-label>
            <textarea matInput [disabled]="true">{{ client.plaintext }}</textarea>
        </mat-form-field>

        <div class="card-container" style="display:flex; justify-content: space-between">
            <mat-card class="spaced-card" style="flex: 0 0 50%; margin-right: 1%;">
                <mat-card-header>
                    <mat-card-title>Signatur</mat-card-title>
                </mat-card-header>
                <mat-card-content style="overflow-wrap: anywhere; margin-top: 1%">
                    <mat-form-field appearance="outline" style="width: 99%; margin-right: 1%;">
                        <mat-label>r</mat-label>
                        <textarea matInput [(ngModel)]="client.signature.r" rows="1"></textarea>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline" style="width: 99%; margin-right: 1%;">
                        <mat-label>s</mat-label>
                        <textarea matInput [(ngModel)]="client.signature.s" rows="1"></textarea>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline" style="width: 99%; margin-right: 1%;">
                        <mat-label>Stringdarstellung</mat-label>
                        <textarea matInput [(ngModel)]="client.signature.string_representation" rows="1"></textarea>
                    </mat-form-field>
                    <p>Die soeben entschlüsselte Nachricht ist <strong>{{ client.signature_valid }}</strong></p>
                </mat-card-content>
            </mat-card>

            <mat-expansion-panel class="spaced-card" style="flex: 1; margin-left: 1%;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Geheimtext - Punkte
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field appearance="outline" class="width-100">
                    <textarea matInput [disabled]="true">{{ JSON.stringify(client.ciphertext.points) }}</textarea>
                </mat-form-field>
            </mat-expansion-panel>
        </div>

        <mat-action-row>
            <button mat-flat-button color="primary" (click)="decrypt()">
                Entschlüsseln
            </button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>