<mat-accordion class="accordion-container" multi="true">
  <mat-expansion-panel [expanded]="true"> <!-- Initial geöffnet -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        Briefkasten von {{client?.name}}
      </mat-panel-title>
      <mat-panel-description>
        Die zu verschickenden und erhaltenden Nachrichten
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field class="width-100">
      <mat-label>Klartext</mat-label>
      <textarea matInput placeholder="Das ist ein wunderbarer Tag..." [(ngModel)]="plainText"></textarea>
    </mat-form-field>
    <mat-form-field class="width-100">
      <mat-label>Geheimtext</mat-label>
      <textarea matInput placeholder="Qnf vfg rva jhaqreonere Gnt..." [(ngModel)]="cipherText"></textarea>
    </mat-form-field>

    <mat-action-row>
      <button mat-flat-button color="primary" (click)="clearFields()">Nachrichtenfelder leeren</button>
      <button mat-flat-button color="primary" (click)="encrypt()">Verschlüsseln</button>
      <button mat-flat-button color="primary" (click)="decrypt()">Entschlüsseln</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Privater Schlüssel von {{client?.name}}
      </mat-panel-title>
      <mat-panel-description>
        Die Komponenten des privaten Schlüssels
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field class="width-100">
      <mat-label>Modul</mat-label>
      <textarea matInput placeholder="Wird nach dem Berechnen automatisch angezeigt"
                [(ngModel)]="modulus"></textarea>
    </mat-form-field>
    <mat-form-field class="width-100">
      <mat-label>Privater Exponent</mat-label>
      <textarea matInput placeholder="Wird nach dem Berechnen automatisch angezeigt"
                [(ngModel)]="privateExponent"></textarea>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Signatur
      </mat-panel-title>
      <mat-panel-description>
        Das Signieren und Verifizieren von Nachrichten
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field class="width-100">
      <mat-label>Signatur</mat-label>
      <textarea matInput placeholder="Wird nach dem Berechnen automatisch angezeigt" [(ngModel)]="signature"></textarea>
    </mat-form-field>
    <mat-label *ngIf="signatureValid && signatureVerificationCalculated">Signatur gültig!</mat-label>
    <mat-label *ngIf="!signatureValid && signatureVerificationCalculated">Signatur ungültig!</mat-label>
    <mat-label *ngIf="!signatureVerificationCalculated">Signatur noch nicht überprüft...</mat-label>

    <mat-action-row>
      <button mat-flat-button color="primary" (click)="clearSignatureFields()">Signaturfelder leeren</button>
      <button mat-flat-button color="primary" (click)="sign()">Signieren</button>
      <button mat-flat-button color="primary" (click)="verify()">Verifizieren</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<div class="extended-button-container">
  <button mat-fab extended color="primary" (click)="sendMessageAndSignature()">
    <mat-icon>send</mat-icon>
    <span>Senden</span>
  </button>
</div>
