<mat-accordion class="accordion-container">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Allgemeine Konfiguration
      </mat-panel-title>
      <mat-panel-description>
        Bitte gib die Basis-Eigenschaften der Simulation an
      </mat-panel-description>
    </mat-expansion-panel-header>

      <mat-form-field class="config-form-field">
        <mat-label>Modulbreite</mat-label>
        <input class="example-right-align" matInput type="number" [(ngModel)]="modulbreite">
        <span matTextSuffix>-Bit</span>
      </mat-form-field>

      <mat-form-field class="config-form-field">
        <mat-label>Zahlensystem</mat-label>
        <input class="example-right-align" matInput type="number" [(ngModel)]="zahlensystem">
      </mat-form-field>

    <mat-form-field class="config-form-field">
      <mat-label>Miller-Rabin Iterationen</mat-label>
      <input class="example-right-align" matInput type="number" [(ngModel)]="miller_rabin_iterations">
      <span matTextSuffix>-Iterationen</span>
    </mat-form-field>

    <mat-form-field class="config-form-field">
      <mat-label>Zufallsseed</mat-label>
      <input class="example-right-align" matInput type="number" [(ngModel)]="random_seed">
    </mat-form-field>

      <mat-action-row class="action-row-content-left">
        <button mat-flat-button color="primary" (click)="onSubmit()">Alice Schlüsselpaar erzeugen</button>
        <button mat-flat-button color="primary" (click)="onSubmit()">Bobs Schlüsselpaar erzeugen</button>
      </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
