.accordion-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.config-form-field {
  margin: 1vw;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
