<mat-accordion multi>
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Parameter für den Shanks Algorithmus
            </mat-panel-title>
            <mat-panel-description>
                Bestimmung des diskreten Logarithmus eines Elements einer zyklischen Gruppe
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Basis</mat-label>
            <textarea matInput placeholder="Die Basis"
                      [(ngModel)]="base"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Element</mat-label>
            <textarea matInput placeholder="Das Element"
                      [(ngModel)]="element"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Modul</mat-label>
            <textarea matInput placeholder="Der Modul"
                      [(ngModel)]="modul"></textarea>
        </mat-form-field>

        <mat-action-row>
            <button mat-raised-button color="primary" (click)="calculate()">Berechnen</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Ergebnis
            </mat-panel-title>
            <mat-panel-description>
                Das Ergebnis des Shanks Algorithmus
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline" class="width-100">
            <mat-label>Ergebnis</mat-label>
            <textarea matInput placeholder="Wird automatisch berechnet."
                      [(ngModel)]="result"></textarea>
        </mat-form-field>

        <div *ngIf="giantsteps.length > 0">
            <mat-list>
                <mat-list-item *ngFor="let step of giantsteps">
                    <div matLine><strong>{{ step[0] }}</strong></div>
                    <div matLine>{{ step[1] }}</div>
                </mat-list-item>
            </mat-list>
        </div>

        <!-- Fallback, wenn giantsteps leer ist -->
        <div *ngIf="giantsteps.length === 0">
            <p>No GiantSteps Available</p>
        </div>

    </mat-expansion-panel>
</mat-accordion>
