name: CI-Skript

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  install-requirements:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install requirements
      run: sudo apt-get install libgtk-3-dev librust-pango-sys-dev

  build:
    runs-on: ubuntu-latest
    needs: install-requirements
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose

  test:
    runs-on: ubuntu-latest
    needs: [install-requirements, build]
    steps:
    - uses: actions/checkout@v3
    - name: Unit tests
      run: cargo test --verbose
  fmt:
    name: fmt
    runs-on: ubuntu-latest
    needs: [install-requirements, build]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install stable
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: cargo fmt --check
        run: cargo fmt --check
